---
postFilters: layout
postProcessFilters: template-ejs
layout: home.html
makeListLatestVars:
	_ALL_: 10
	section.announcements: 5
	section.end_users: 5
	section.games: 5
	section.humour: 5
	section.interviews: 5
	section.reviews: 5
	section.hacking: 5
	section.opinions: 5
---

<% function showList(info, title, section) { %>
	<h5 class="mt-5"><%= title %></h5>
	<hr class="mt-0">
	<div class="row">
		<!-- FIXME: Generation does not work here -->
		<% info.listLatestData[section].forEach(function(article) { %>
			<div class="col-sm-6 col-lg-4 mb-4">
				<%- include('articleCard', { article: article }); %>
			</div>
		<% }); %>
	</div>
<% } %>

<% showList(info, 'Development', 'section.opinions') %>
<% showList(info, 'Hacking', 'section.hacking') %>
<% showList(info, 'End Users', 'section.end_users') %>
<% showList(info, 'Games', 'section.games') %>
<% showList(info, 'Humour', 'section.humour') %>
<% showList(info, 'Interviews', 'section.interviews') %>
<% showList(info, 'Reviews', 'section.reviews') %>
<% showList(info, 'Announcements', 'section.announcements') %>

<hr class="my-5">

<p class="text-center">We organise Free Software Magazine with <a href="http://www.apollohq.com">Apollo Project Management</a></p>