---
postFilters: layout
postProcessFilters: template-ejs
layout: home.html
makeListLatestVars:
  _ALL_: 10
  section.announcements: 5
  section.end_users: 5
  section.games: 5
  section.humour: 5
  section.interviews: 5
  section.reviews: 5
  section.hacking: 5
  section.opinions: 5
---


<% function showList(info, section) { %>
  <div class="row">
    <% info.listLatestData[section].forEach(function(article) { %>
      <% //a.system.fileContentsAsBuffer = null; a.contents = ''; a.initialContents = ''; %>
      <div class="col-xs-12 col-md-4 col-xl-3">
        <%- include('articleCard', { article: article }); %>
      </div>
    <% }); %>
  </div>
<% } %>

<h3 class="initialism">Development</h3>
<% showList(info, 'section.opinions') %>

<hr>

<h3 class="initialism">Hacking</h3>
<% showList(info, 'section.hacking') %>

<hr>

<h3 class="initialism">End Users</h3>
<% showList(info, 'section.end_users') %>

<hr>

<h3 class="initialism">Games</h3>
<% showList(info, 'section.games') %>

<hr>

<h3 class="initialism">Humour</h3>
<% showList(info, 'section.humour') %>

<hr>

<h3 class="initialism">Interviews</h3>
<% showList(info, 'section.interviews') %>

<hr>

<h3 class="initialism">Reviews</h3>
<% showList(info, 'section.reviews') %>

<hr>

<h3 class="initialism">Announcements</h3>
<% showList(info, 'section.announcements') %>
