<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/" tite="Home">Free Software Magazine</a>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="/sections/end_users">End users</a></li>
				<li class="nav-item"><a class="nav-link" href="/sections/hacking">Hacking</a></li>
				<li class="nav-item"><a class="nav-link" href="/sections/humour">Humour</a></li>
				<li class="nav-item"><a class="nav-link" href="/sections/interviews">Interviews</a></li>
				<li class="nav-item"><a class="nav-link" href="/sections/opinions">Opinons</a></li>
				<li class="nav-item"><a class="nav-link" href="/sections/reviews">Reviews</a></li>
				<li class="nav-item"><a class="nav-link" href="/all_articles/">All articles</a></li>
				<li class="nav-item"><a class="nav-link" href="/issues/">Issues</a></li>
				<li class="nav-item"><a class="nav-link" href="/books/">Books</a></li>
			</ul>
		</div>
	</div>
</nav>