<h1>Sections</h1>

<%-   include('../_includes/sectionIndex', { desc: "Announcements", name: 'announcements' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "End users", name: 'end_users' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Games", name: 'games' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Hacking", name: 'hacking' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Humour", name: 'humour' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Interviews", name: 'interviews' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Opinions", name: 'opinions' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Reviews", name: 'reviews' } ) %>

