<h1>Issues</h1>

<%-   include('../_includes/sectionIndex', { desc: "Issue 0", name: 'issue_00' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 1", name: 'issue_01' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 2", name: 'issue_02' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 3", name: 'issue_03' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 4", name: 'issue_04' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 5", name: 'issue_05' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 6", name: 'issue_06' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 7", name: 'issue_07' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 8", name: 'issue_08' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 9", name: 'issue_09' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 10", name: 'issue_10' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 11", name: 'issue_11' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 12", name: 'issue_12' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 13", name: 'issue_13' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 14", name: 'issue_14' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 15", name: 'issue_15' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 16", name: 'issue_16' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 17", name: 'issue_17' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 18", name: 'issue_18' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 19", name: 'issue_19' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 20", name: 'issue_20' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 21", name: 'issue_21' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 22", name: 'issue_22' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 23", name: 'issue_23' } ) %>
<%-   include('../_includes/sectionIndex', { desc: "Issue 24", name: 'issue_24' } ) %>
